html
  head
    block title
      
    block headstuff
      link(rel='icon', href='vapor.png')
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
      link(rel='stylesheet', href='design.css')
  body(onload="loadUsername()")
    block navandwelcome
      nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
        a.navbar-brand(href='/')
          img(src='vapor transparent.png', alt='Logo', style='width:40px;')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
          span.navbar-toggler-icon
        #collapsibleNavbar.collapse.navbar-collapse
          block navitems
            ul.navbar-nav.mr-auto
              li.nav-item.active
                a.nav-link(href='/') Home
              li.nav-item
                a.nav-link(href='/about') About
              li.nav-item
                a.nav-link.disabled(href='#') Planner
          ul.navbar-nav
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='/login', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') User
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='/profile') Profile
                .dropdown-divider
                a#loginout.dropdown-item(href='/login') Login
    script.
      function loadUsername() {
      console.log("loadUsername function has been called");
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
      console.log(this.responseText);
      if (this.responseText != "User") {
      document.getElementById("loginout").href = "/logout";
      document.getElementById("loginout").innerHTML = "Logout";
      }
      document.getElementById("navbarDropdown").innerHTML = this.responseText;
      }
      };
      xhttp.open("GET", "/getUsername", true);
      xhttp.send();
      console.log("username should have been updated");
      }
    block content

    block footer
      .jumbotron.text-center(style='margin-bottom:0')
        p Note all of this is currently a WIP