extends default.pug
block title
  title Project Home
block content  
      .container-fluid.title-image
        .container-fluid.text-center.title-container
          img.img-fluid.title-image(src='vapor.png')
          h3 Welcome to Florida View
          p
            | Welcome to Florida View. this is your One-Stop-Shop for your vacation to florida. put a breif summary of the application here.
      .container-fluid.div-row
        .row.text-center.bg-dark.text-white
          .col
            img.img-fluid.mx-auto.d-block.row-image(src='vapor transparent.png')
            br
            | Put a picture and a bit of info here.
          .col
            img.img-fluid.mx-auto.d-block.row-image(src='vapor transparent.png')
            br
            | Put a picture and a bit of info here.
          .col
            img.img-fluid.mx-auto.d-block.row-image(src='vapor transparent.png')
            br
            | Put a picture and a bit of info here.
      .container-fluid.text-center
        h1 More Content
        p put more information here. not breif stuff goes here.