html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='vapor.png')
    title Signin
    // Bootstrap core CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    // Custom styles for this template
    link(href='signin.css', rel='stylesheet')
  body.text-center
    form.form-signin(action='/login', method='post')
      img.mb-4(src='vapor.png', alt='', width='200', height='200')
      h1.h3.mb-3.font-weight-normal Please sign in
      label.sr-only(for='inputEmail') Email address
      input#inputEmail.form-control(type='email', placeholder='Email address', name= 'logemail', required='', autofocus='')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', placeholder='Password', name= 'logpassword', required='')
      .checkbox.mb-3
        label
          input(type='checkbox', value='remember-me')
          |  Remember me
      input.btn.btn-lg.btn-primary.btn-block.custom-btn(type='submit', value='Submit')
      p.mt-5.mb-3.text-muted Login Page currently not functional.